.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--body-bg); /* ← использовать переменную */
}

.header-content h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.main-content {
  flex: 1;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-content p {
  margin: 0;
  font-size: 0.9rem;
}

.social-links {
  display: flex;
  gap: 16px;
}

.social-links a {
  color: #9c8123;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.social-links a:hover {
  text-decoration: underline;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
